h1, h2, h3{
    font-family: "Exo 2", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
}

h1{
    font-size: 36px;
}

h2{
    font-size: 24px;
    margin-top: 8px;
}

hr{
    height: 5px;
    background-color: yellow;
    border: none;
    width: 100px;
    margin-left: 0;
    margin-top:40px;
}

p, ul {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 16px;
}

figcaption {
    font-size: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*estilo das listas: sem nenhum estilo, para poder usar recuo feito na mão com elemento especial de texto*/
ul {
    list-style: none;
    margin-left: 0;
    padding-left: 2em;
  }

  li {
    padding-left: 1em;
    text-indent: -1em;
  }

  li:before {
    content: "⁕";
    padding-right: 5px;
  }

/*estilo dos links da tabela de conteúdos, overrides links gerais*/
ul a{
    text-decoration-style: wavy;
    text-decoration-color: black;
    text-decoration-thickness: 0.05em;"
  }

a {
   font-family: "Exo 2 Medium 500", "Helvetica Neue", Helvetica, Arial, sans-serif;
   color: black;
   text-decoration-color: yellow;
    text-decoration-line: underline;
    text-decoration-thickness: 0.25em;
    text-decoration-skip-ink: none;
}

.italico {
    font-style: italic;
}

body{
    margin: 0;
    padding: 0;
}

main{
    margin: 5em 10em;
}

/*menu principal topo*/
header{
    margin: 0;
    background-color: yellow;
    position: fixed;
    top: 0;
    width: 100%;

}

.main-menu{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 5px;
}

#main-menu__left ul{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}

#main-menu__right ul{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}

.main-menu ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.main-menu li:before{
    content: none;
    padding-right: none;
}

.main-menu li{
    margin-right: 2em;
}

.main-menu{
    text-decoration: none;
    text-transform: uppercase;
}

/*menu da pagina*/
.page-index {
    margin: 48px 0 48px 0;
}

.full-content{
    margin-bottom: 72px;
}

/* sub-content - imagens aves e mapas, e legendas - flex */

.sub-content{
    display: flex;
    flex-flow: column nowrap;
}

.images-maps{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    background-color:lightgray;
    padding: 5px;
}

figure {
    padding: 0;
    margin: 0;
    max-width: 50%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.images-maps__image {
    max-width: 100%;
    height: auto;
    flex: 1 2;
}

.images-maps__map {
    max-width: 100%;
    height: auto;
    flex: 2 1;
}

.sub-content__map__caption {
    align-self: flex-start;
    flex-basis: 10%;
}

.sub-content__image__caption {
    align-self: flex-start;
    flex-basis: 10%;
}

/* sub- content - textos e legendas - estilo */

caption {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: small;
}

.audio{
    margin: 60px 0px 20px 0px;
}


/*lista final references*/
.references{
    margin: 108px 0 48px 0;
}
